body{
    padding: 0;
    width: 100%;
    margin: 200px auto;
    text-align: center;
    background: #333;
    color: white;
    
}
button{
    padding: 10px;
    margin: 10px;
    border: 1px solid #b9b4b4;
    background-color: #333;
    color: wheat;
    font-weight: 700;
    font-size: 23px;
}
button:hover{
    background-color: white;
    color: rgb(3, 3, 3);
}
.counter{
    
    width: 100%;
    margin: auto;
    
}
.h{
    color: aqua;
    letter-spacing: 4px;
    font-size: 30px;
    padding: 20px;    
}